<!DOCTYPE html>
<html>
<head>
	<title>
		EWB-UCF | Engineers Without Borders - University of Central Florida
	</title>
</head>
<body>

	<%= render "static_pages/nav" %>

	<div id="content">
		<h2>About Us</h2>
		<p>
			Here is some information about us.
		</p>
	</div> <!-- content -->

	<%= render "static_pages/footer" %>
</body>
</html>
