<!DOCTYPE html>
<html>
<head>
	<title>
		EWB-UCF | Engineers Without Borders - University of Central Florida
	</title>
</head>
<body>

	<%= render "static_pages/nav" %>

	<div id="precontent">
	About Us
	</div>

	<div id="content" class="brown" style="height: 45%;">

		<h2 class="dark">Engineers Without Borders</h2>
		<p class="dark">
			Today, more than two billion people lack access to the most basic things, such as clean drinking water, adequate sanitation, reliable passage to local markets and more. Engineers Without Borders USA (EWB-USA) is engineering change in 47 countries around the world to change this reality -- one well at a time, one bridge at a time, one community at a time.
		</p>
		<span class="left">
			<p class="dark" style="text-align: center;">
				<b style="color: #095aa6; font-size: 14pt;">Our mission:</b> 
				<br>
				EWB-USA is a nonprofit humanitarian organization established to support     <i style="color: #c2cd23; font-weight: bold;">community-driven</i> development programs worldwide through partnerships that design and implement sustainable engineering projects, while creating transformative experiences that enrich global perspectives and create responsible leaders.
			</p>
		</span>
		<span class="right">
			<p class="dark" style="text-align: center; ;">
				<b style="color: #095aa6; font-size: 14pt;">Our vision:</b> 
				<br>
				EWB-USA's vision is a world in which the communities we serve have the capacity to sustainably meet their basic human needs.
			</p>
		</span>
	</div> <!-- content -->
	<div id="content">
		<h2>EWB at UCF</h2>
		<p>
			The UCF chapter was founded in 2007...
		</p>

		<div class="divider"></div>

		<h2>Get Involved</h2>
		<p>
			There are many ways to get involved in Engineers Without Borders ...
		</p>
	</div>

	<%= render "static_pages/footer" %>
</body>
</html>
