<% # ruby home %>

<!DOCTYPE html>

<html>
<head>
	<title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>
    <%= render "nav" %>

    <%= render "footer" %>
</body>
</html>

