    <div id="content" style="margin: 10% 0% 0% 0%;"></div> 


    <div id="precontent" style="text-align: center; margin: 0px 0px;"> 
        This Page is Under Construction
    </div>

    <div id="content"></div> 