<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>

    <%= render "static_pages/nav" %>

    <div id="precontent"> Local Projects </div>

    <div id="content">

        <a href="#" class="tile">
            <div class="tile">
                <img src="" width="90%" height="180px" style="display: inline-block;"/><br>
                <h4 >Bithlo, FL</h4><br>
                <h5>Aquaponics</h5>
            </div>
        </a>


        <a href="#" class="tile">
            <div class="tile">
                <img src="" width="90%" height="180px" style="display: inline-block;"/>
                <br>
                <h4 class="sub">PBP</h4> &nbsp; <h4>Student Co-op</h4>
                <br>
                <h5>Rainwater Catchment</h5>
            </div>
        </a>

    </div> <!-- content -->

    <%= render "static_pages/footer" %>
</body>
</html>
