<!DOCTYPE html>
<html>
<head>
	<title>
		EWB-UCF | Engineers Without Borders - University of Central Florida
	</title>
</head>
<body>

	<%= render "static_pages/nav" %>

	<div id="precontent">
	Executive Board
	</div>

	<div id="content">
		<span style="width: 20%;">
			<img src="" width="90%" height="160px" style="display: inline-block;"/>
		</span>
		<span  style="float: right; width: 78%;">
			<h2 style="display: inline-block; font-weight: bold;">
				<a href="#">
					McKinnley Workman
				</a>, 
			</h2>
			<h3 style="display: inline-block;">President</h3>
			
			<br><br>
			<p class="profile">
				<b>Major: </b> Mechanical Engineering &nbsp;
				<b>Minor: </b> Computer Science
			</p>
			<p class="profile">
				<b>Bio: </b> Each of the profiles on this page are styled slightly different for demo purposes. 
			</p>
			
		</span>

		<div class="divider"></div>

		<span style="width: 20%;">
			<img src="" width="90%" height="160px" style="display: inline-block;"/>
		</span>
		<span  style="float: right; width: 78%;">
			<h2 style="display: inline-block; font-weight: bold;">
				<a href="#">
					Joel Lerant
				</a>, 
			</h2>
			<h3 style="display: inline-block; font-size: 16pt;">Vice President</h3>
			
			<br><br>
			<p class="profile">
				<b>Major: </b> Mechanical Engineering &nbsp;
			</p>
			<p class="profile">
				<b>Bio: </b> Blah blah blah...
			</p>
		</span>

		<div class="divider"></div>

		<span style="width: 20%;">
			<img src="" width="90%" height="160px" style="display: inline-block;"/>
		</span>
		<span  style="float: right; width: 78%;">
			<h2 style="display: inline-block; ">
				<a href="#">
					Rebecca Shea
				</a>, 
			</h2>
			<h3 style="display: inline-block;">International Project Manager</h3>
			
			<br><br>
			<p class="profile">
				<b>Major: </b> Mechanical Engineering &nbsp;
			</p>
			<p class="profile">
				<b>Bio: </b> Blah blah blah...
			</p>
		</span>

		<div class="divider"></div>

		<span style="width: 20%;">
			<img src="" width="90%" height="160px" style="display: inline-block;"/>
		</span>
		<span  style="float: right; width: 78%;">
			<h2 style="display: inline-block;">
				<a href="#">
					Josh Kaplan
				</a>, 
			</h2>
			<h3 style="display: inline-block; font-size: 16pt;">Software Team Lead</h3>
			
			<br><br>
			<p class="profile">
				<b>Major: </b> Aerospace Engineering &nbsp;
			</p>
			<p class="profile">
				<b>Bio: </b> Blah blah blah...
			</p>
		</span>

	</div> <!-- content -->

	<%= render "static_pages/footer" %>
</body>
</html>
