<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>

    <%= render "static_pages/nav" %>

    <div id="precontent"> Alumni </div>

    <div id="content">

        <%= raw mini_profile 'James', 'Crawford', 'President', '2010', 'Evironmental Engineering' %>

        <div class="divider"></div>
     
    </div> <!-- content -->

    <%= render "static_pages/footer" %>
    
</body>
</html>
